<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title>Добавление новости</title>
</head>
<body>
<div layout:fragment="content">
    Здесь можно добавить новую новость в систему:

    <p th:if="${error}" style="color:red" th:text="${error}"></p>

    <form th:action="@{/news/add}" method="post">
        <table>
            <tr>
                <td>Название категории</td>
                <td><input type="text" name="categoryName" th:value="${news?.category?.categoryName}" placeholder="Введите название категории" size="40"/></td>
            </tr>
            <tr>
                <td>Название новости:</td>
                <td><input type="text" name="title" th:value="${news?.title}" placeholder="Введите название новости" size="40"/></td>
            </tr>
            <tr>
                <td>Аннотация к новости:</td>
                <td><input type="text" name="title4ann" th:value="${news?.title4ann}" placeholder="Введите аннотацию" size="40" required="required"/></td>
            </tr>
            <tr>
                <td>Автор новости:</td>
                <td><input type="text" name="author" th:value="${news?.author}" placeholder="Введите автора новости" size="40"/></td>
            </tr>
            <tr>
                <td>Основной текст новости:</td>
                <td><input type="text" name="mainText" th:value="${news?.mainText}" placeholder="Введите основной текст новости" size="40"/></td>
            </tr>
            <tr>
                <td>Дата публикации:</td>
                <td><input type="text" name="postDay" th:value="${news?.postDay}" placeholder="20XX-XX-XX" size="40"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Save"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
