<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title>Добавление новости</title>
</head>
<body>
<div layout:fragment="content">
    Здесь можно добавить новую новость в систему:
    <form th:action="@{/news/add}" method="post">
        <table>
            <tr>
                <td>Название категории</td>
                <td><input type="text" name="categoryName" placeholder="Введите название категории" size="40"/></td>
            </tr>
            <tr>
                <td>Название новости:</td>
                <td><input type="text" name="title" placeholder="Введите название новости" size="40"/></td>
            </tr>
            <tr>
                <td>Аннотация к новости:</td>
                <td><input type="text" name="title4ann" placeholder="Введите аннотацию" size="40" required="required"/></td>
            </tr>
            <tr>
                <td>Автор новости:</td>
                <td><input type="text" name="author" placeholder="Введите автора новости" size="40"/></td>
            </tr>
            <tr>
                <td>Основной текст новости:</td>
                <td><input type="text" name="mainText" placeholder="Введите основной текст новости" size="40"/></td>
            </tr>
            <tr>
                <td>Дата публикации:</td>
                <td><input type="text" name="postDay" placeholder="20XX-XX-XX" size="40"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Save"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
