<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div th:fragment="header">
    <div>
        <h3>Самые свежие новости. Обновление каждые 5 минут.</h3>
        <span>
            &nbsp;<a th:href="@{/news(locale='ru')}">RU</a>/<a th:href="@{/news(locale='en')}">EN</a>&nbsp;
        </span>
        <span sec:authorize="hasRole('admin')">
            Добрый день, вы зашли как администратор!
            <form th:action="@{/logout}" method="post" style="display:inline">
                <button type="submit">Выйти из системы</button>
            </form>
        </span>
        <span sec:authorize="isAuthenticated() and !hasRole('admin')">
            Добрый день, вы зашли как <span sec:authentication="name"></span>!
            <form th:action="@{/logout}" method="post" style="display:inline">
                <button type="submit">Выйти из системы</button>
            </form>
        </span>
        <span sec:authorize="isAnonymous()">
            <a th:href="@{/login}">Войти</a> / <a th:href="@{/register}">Регистрация</a>
        </span>
    </div>
</div>
</body>
</html>
